<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ODL API</title>
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/font-awesome.min.css">
  <script src="{{ rootFolder|e }}js/jquery.min.js"></script>
  <script src="{{ rootFolder|e }}js/jquery-ui.min.js"></script>
  <script src="{{ rootFolder|e }}js/app.js"></script>
</head>
