<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if output %}
        <div class="output">{{ output|e|nl2br }}</div>
        {% endif %}

        <div class="mn-items">
            <h2>Drag</h2>
            <div id="catalog">
                <ul class="rp-draggable">
                    {% for location in supportedLocations %}
                    <li uuid="{{ location.id|e }}" id="{{ location.id|e }}"><img alt="{{ location.id|e }}" title="{{ location.id|e }}" width="150" src="img/{{ location.id|e }}.png"/> <i class="fa fa-star-o"></i></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="header-favorites">
            <h2>Drop Here...</h2>
            <ul class="h-droped-list" id="sortable2">
                <li class="placeholder">Create Network Function Virtualization path</li>
            </ul>
        </div>

        <br/>

        <button id="createPath">Create Path</button>

        <div id="output"></div>

    </div> <!-- /container -->
</body>
</html>
