<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SURF - Service Function Chaining demo</title>
    <link href="./index_files/css.css" rel="stylesheet" type="text/css">
    <link href="./index_files/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="./index_files/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./index_files/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="./index_files/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <link href="./index_files/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css">
    <link href="./index_files/plugins.min.css" rel="stylesheet" type="text/css">
    <link href="./index_files/lock-2.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/moef.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <script src="js/app.js"></script>
</head>
<body class="">
	

	<div class="page-lock">
	<div class="page-logo">
		
		<img src="https://www.surf.nl/binaries/werkmaatschappijlogo/content/gallery/surf/logos/surfnet.png" height="40" alt="logo">
		
	</div>
	<div class="page-body">


        <div class="mn-items">
            <h2>Drag</h2>
            <div id="catalog">
                <ul class="rp-draggable">
                    {% for location in supportedLocations %}
                    <li uuid="{{ location.id|e }}" id="{{ location.id|e }}"><img alt="{{ location.id|e }}" title="{{ location.id|e }}" width="150" src="img/{{ location.id|e }}.png"/> ({{ location.function|e }}) <i class="fa fa-star-o"></i></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="header-favorites">
            <h2>Drop Here...</h2>
            <ul class="h-droped-list" id="sortable2">
                <li class="placeholder">Create Network Function Virtualization path</li>
            </ul>
        </div>

        <br/>


 <br/>


<hr />

	</div>
	<div class="page-footer-custom">
		 2018 © FrWlMiGe | 
    <button id="reset">Reset</button>
<!--    <button id="loop">Loop</button> -->

	</div>

        <div id="output"></div>

</div>



								
<script src="./index_files/bootstrap.min.js" type="text/javascript"></script>
<script src="./index_files/js.cookie.min.js" type="text/javascript"></script>
<script src="./index_files/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="./index_files/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="./index_files/jquery.blockui.min.js" type="text/javascript"></script>
<script src="./index_files/jquery.uniform.min.js" type="text/javascript"></script>
<script src="./index_files/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="./index_files/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="./index_files/app.min.js" type="text/javascript"></script>
<script src="./index_files/lock-2.min.js" type="text/javascript"></script>

<!--	-->
 <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 257px; width: 1903px; z-index: -999999; position: fixed;"><img src="./index_files/2.jpg" class="deleteable" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1008.92px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -375.959px;"><img src="./index_files/3.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1426.99px; max-height: none; max-width: none; z-index: -999999; opacity: 0.132306; left: 0px; top: -584.995px;"></div>

 </body></html>
